* {
    margin: auto;
    padding: auto;
}

:root {
    --background: #CBA836;
    --translucent: rgba(37, 30, 16, 0.8);
    --textColor: white;
}

body {
    background: url(//i5.walmartimages.com/asr/7034507f-ae3d-4091-8eba-8f71135fe36c.362dbf6a647df8cb6804e769c35bf989.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff) no-repeat center center fixed;
    background-size: cover;
    color: var(--textColor);
    
}

div {
    margin: 30px;
    font-size: 38px !important;
    font-family: 'Bilbo Swash Caps', cursive;
    color: var(--textColor);
}


.section {
    background-color: var(--translucent);
    /* opacity: 100%; */
   
}

nav{
    display: flex;
    
}

h1, 
h2,
h3,
h4 {
    font-family: 'Uncial Antiqua', cursive;
    color: var(--textColor);
}

footer {
    text-align: center;
    color: var(--textColor)

}

.border {
    border: 2px black solid; 
    border-radius: 5px;
}

.center {
    text-align: center;
    align-items: center;
}

form {
    margin: 20px;
}

input {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: #FEF5E7;
}

a {
    color: white !important;
}


.userAuth {
    background: url("https://i.postimg.cc/c4bZ4sqk/old-paper-stock-02-by-ftourini-d48ubt0-png2.png") center;
    
}

.authBtn {
    background: rgb(63, 45, 21);
    color: white;
}

/* 
@media (max-width: 575.98px) { 
    :root {
        --background: #CBA836;
        --translucent: rgba(37, 30, 16, 0.8);
        --textColor: white;
    }
    div {
        margin: 10px;
        font-size: 25px !important;
        font-family: 'Bilbo Swash Caps', cursive;
        text-align: center;
        align-items: center;

    }
    nav {
        font-size: 18px;
    }
    .section {
        background-color: var(--translucent);
        /* opacity: 100%; */
    }
    .center {
        text-align: center;
        align-items: center;
    }
    img {
        width: 100%;
        height: 100%;
    }
} */

